<!--
  Generated template for the UserPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>user</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card>
          <img src="{{user.picture.large}}" alt="">
          <ion-card-content>
            <ion-card-title text-capitalize>
              {{user.name.title}} {{user.name.first}} {{ user.name.last}}
              <ion-icon name="male" *ngIf="user.gender=='male'" float-right></ion-icon>
              <ion-icon name="female" *ngIf="user.gender=='female'" float-right></ion-icon>
            </ion-card-title>
            <p>
              <ion-icon name="locate"></ion-icon>
              <b>City:</b> {{user.location.city}}
              <b>State:</b> {{user.location.state}}
              <br>
              <ion-icon name="call"></ion-icon> {{user.phone}} | {{user.cell}}
              <br>
              <ion-icon name="mail"></ion-icon> {{user.email}}
            </p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
